<div class="titleDiv"><p class="title">  Espen Sommer Eide – artist/composer </p></div>


<div class="empty1">  </div>

<div class="article">

<p>
  <%= raw CGI.unescapeHTML @page.content.to_s %>
</p>

<% if current_user %>
<p>
  <strong>Importance:</strong>
  <%= @page.importance %>
</p>

<p>
  <strong>Clouded:</strong>
  <%= @page.clouded %>
</p>
<%= link_to 'Edit', edit_page_path(@page) %>

<% end %>


<%= link_to 'Back', pages_path %>

<p id="notice"><%= notice %></p>
</div>
