<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @action_text_rich_text.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @action_text_rich_text.body %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @action_text_rich_text.record_type %>
</p>

<p>
  <strong>Record:</strong>
  <%= @action_text_rich_text.record_id %>
</p>

<%= link_to 'Edit', edit_action_text_rich_text_path(@action_text_rich_text) %> |
<%= link_to 'Back', action_text_rich_texts_path %>
